<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cryptorder Help</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <a href="{{ url_for('index') }}">Back to CRYPTORDER</a>
    <h1>An Explanation of each parameter</h1>
    <p>We expect volatility and accordingly we will try to buy the bottom and sell the top. We can not predict these extrema so we cast a wide net with many limit orders. This tool will create equal intervals between the asset price of each order but will vary the amount of each order. The trades furthest from the current price will produce the lowest average costs or greatest profits. If the price never reaches the highest or lowest orders the trades wont be made at all. This is the trade off reflected by the Scaling factor parameter. Other parameters that affect the success of this strategy are the chosen minimum and maximum values. These can be expressed as a percent of the current price or a dollar amount which may reflect apparent resistance levels.</p>
    <ul>
        <li>Current Price: Tap a GET button to grab it's current price or enter a custom price.</li>
    </ul>
    <ul>
        <li>Order Type: Buy or Sell the desired asset.</li>
    </ul>
    <ul>
        <li>MIN Type: Choose whether the minimum trading price will be given as a percent of the current price or as a dollar amount. For Buy orders the minimum price would be the last order to execute. For Sell orders the minimum price would be the first order executed.</li>
    </ul>
    <ul>
        <li>MAX Type: Choose whether the maximum trading price will be given as a percent of the current price or as a dollar amount. For Buy orders the maximum price would be the firdst order to execute. For Sell orders the maximum price would be the last order executed.</li>
    </ul>
    <ul>
        <li>Minimum: The lowest priced Buy order or the initial Sell order price.</li>
    </ul>
    <ul>
        <li>Maximum: The initial Buy order price or the highest Sell order price.</li>
    </ul>
    <ul>
        <li>Scaling Factor: You can enter values one through nine. 1 = Nearly equal orders for faster entry/exit: 9 = Highly unequal order buy more toward the bottom for lower average cost or sell more near the top for higher profit.</li>
    </ul>
    <ul>
        <li>Number of Orders: The more orders placed the closer a trade can be made near the top or bottom.</li>
    </ul>
</body>
</html>

ERROR in app: Exception on / [GET]
Traceback (most recent call last):
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/app.py", line 1473, in wsgi_app
    response = self.full_dispatch_request()
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/app.py", line 882, in full_dispatch_request
    rv = self.handle_user_exception(e)
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/app.py", line 880, in full_dispatch_request
    rv = self.dispatch_request()
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/app.py", line 865, in dispatch_request
    return self.ensure_sync(self.view_functions[rule.endpoint])(**view_args)  # type: ignore[no-any-return]
  File "/Users/t/Developer/crypto_app/app.py", line 15, in index
    return render_template('index.html')
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/templating.py", line 150, in render_template
    return _render(app, template, context)
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/templating.py", line 131, in _render
    rv = template.render(context)
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/jinja2/environment.py", line 1304, in render
    self.environment.handle_exception()
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/jinja2/environment.py", line 939, in handle_exception
    raise rewrite_traceback_stack(source=source)
  File "/Users/t/Developer/crypto_app/templates/index.html", line 126, in top-level template code
    const orders = JSON.parse('{{ orders | tojson | safe }}');
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/jinja2/filters.py", line 1714, in do_tojson
    return htmlsafe_json_dumps(value, dumps=dumps, **kwargs)
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/jinja2/utils.py", line 658, in htmlsafe_json_dumps
    dumps(obj, **kwargs)
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/json/provider.py", line 179, in dumps
    return json.dumps(obj, **kwargs)
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/json/__init__.py", line 234, in dumps
    return cls(
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/json/encoder.py", line 199, in encode
    chunks = self.iterencode(o, _one_shot=True)
  File "/Library/Developer/CommandLineTools/Library/Frameworks/Python3.framework/Versions/3.9/lib/python3.9/json/encoder.py", line 257, in iterencode
    return _iterencode(o, 0)
  File "/Users/t/Developer/crypto_app/venv/lib/python3.9/site-packages/flask/json/provider.py", line 121, in _default
    raise TypeError(f"Object of type {type(o).__name__} is not JSON serializable")
TypeError: Object of type Undefined is not JSON serializable
